<!DOCTYPE html>
<html>
<body>
    <h2>Tambah Mahasiswa</h2>
    <form method="POST" action="/tambah">
        <label>NIM:</label><br><input type="text" name="npm" required><br>
        <label>Nama:</label><br><input type="text" name="nama" required><br>
        <label>Jurusan:</label><br><input type="text" name="jurusan" required><br><br>
        <button type="submit">Simpan Data</button>
        <a href="/">Batal</a>
    </form>
</body>
</html>